<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Henrique_Salsimport::report" title="Salsify" translate="title" module="Henrique_Salsimport"
             sortOrder="30" parent="Magento_Reports::report"
             resource="Henrique_Salsimport::logs"/>
        <add id="Henrique_Salsimport::report_log" title="Log viewer" translate="title" sortOrder="10"
             module="Henrique_Salsimport" parent="Henrique_Salsimport::report" action="Henrique_salsimport/log/index"
             resource="Henrique_Salsimport::logs"/>
    </menu>
</config>
